<label for="q" [innerHTML]="question.label"><i *ngIf="tootltipCodes.includes(question.code)" class="pi pi-info-circle" pTooltip="{{adoptionTooltip}}" tooltipPosition="top"
        style="font-size: 1rem"></i></label>
<p>
    <i [innerHTML]="question.description"></i>
</p>

<div class="row p-2">
    <div class="col-4">
        <label for="ans">Answer</label>
    </div>
    <div class="col-6" *ngIf="question.answer_type === 'SINGLE' && showAnswer()">
        <p-dropdown *ngIf="answers[0]?.label && answers[0].label.length <= 80"  placeholder="Select answer" [options]="answers"  [(ngModel)]="selectedAnswer" [style]="{'width': '100%'}"
            (onChange)="onSelectAnswer($event, question.answer_type)"> 
            <ng-template let-option pTemplate="item" >
                <div class="custom-option">
                   {{ option.label }}
                </div>
             </ng-template>
        </p-dropdown>
        <p-dropdown *ngIf="answers[0]?.label && answers[0].label.length > 80" placeholder="Select answer" [options]="answers" [(ngModel)]="selectedAnswer" optionLabel="label" [virtualScroll]="true" [virtualScrollItemSize]="5" [style]="{'width': '100%'}" 
            (onChange)="onSelectAnswer($event, question.answer_type)"> 
            <ng-template let-option pTemplate="item" >
                <div class="custom-option">
                   {{ option.label }}
                </div>
             </ng-template>
        </p-dropdown>
    </div>
    <div class="col-8" *ngIf="question.answer_type === 'MULTI' && showAnswer() ">
        <p-multiSelect [options]="answers" optionLabel="label" [(ngModel)]="selectedAnswers"
            (onChange)="onSelectAnswer($event, question.answer_type)"> </p-multiSelect>
    </div>
    <div class="col-8" *ngIf="question.characteristic.id && approach === 'INDIRECT'">
        <p-dropdown name="institution" [options]="institutions" [(ngModel)]="selectedInstitution" #finstitution="ngModel"
            placeholder="Select an institution" optionLabel="name" (onChange)="onSelectAnswer($event, 'INDIRECT')"
            [required]="true"></p-dropdown>
    </div>
</div>
<div class="row p-2">
    <div class="col-4">Justification</div>
    <div class="col-6">
        <textarea [disabled]="!selectedAnswer" style="width: 100%;" pInputTextarea [rows]="5" wrap="hard" required 
            [(ngModel)]="comment" (change)="onSelectAnswer($event, 'COMMENT')" [maxlength]="masterDataService.getFieldCharCount(fieldNames.JUSTIFICATION)"></textarea>
        <span style="font-size: 1rem; float: right;">Maximum characters {{masterDataService.getFieldCharCount(fieldNames.JUSTIFICATION)}}</span>
    </div>
    <div class="col-2">
        <p-fileUpload [disabled]="!selectedAnswer" mode="basic" chooseIcon="pi pi-upload" chooseLabel="Upload" name="files" [url]="uploadUrl" 
        (onUpload)="onUpload($event,'FILE')" [multiple]="true" accept="{{acceptedFiles}}" [maxFileSize]="25000000" 
        [auto]="true">
        </p-fileUpload>
    </div>
</div>
<div class="row p-2" *ngIf="question['result']?.filePath">
    <div class="col-4"></div>
    <div class="col-4">
        <p>{{question['result']?.filePath}}</p>
    </div>
    <div class="col-4">
        <a target="_blank" [href]="fileServerURL+'/'+question['result']?.filePath"><i class="pi pi-download download"></i></a>
    </div>
</div>