

<!-- <div class="p-grid p-fluid card m-3">
  <div class="p-field p-2">
  </div>

  <div class="row">
    <div class="col-3 ">
      <h6>Select Portfolio : </h6>
    </div>

    <div class="col-4 ">
      <p-dropdown appendTo="body" name="portfolio" placeholder="Select Portfolio" [(ngModel)]="selectedPortfolio"
        appendTo="body" [options]="portfolioList" optionLabel="portfolioName"
        (onChange)="selectPortfolio()"></p-dropdown>
    </div>


    <div class="col-1">
      <button class="btn btn-primary text-uppercase" type="button" (click)="goToFunction()" title="Clear Selected Portfolio">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>


    <div class="col-4 ">
    </div>
  </div>
</div> -->

<div class="p-grid p-fluid card m-3">
  <div class="row">
    <h3>Recent assessments done</h3>
    <div class="row mt-20 ml-10">
      <div class="col-3 ">
        <h5>Select assessments </h5>
      </div>
  
      <div class="col-6 ">
        <p-multiSelect name="assess" [options]="allAssessments" [(ngModel)]="selectedAssessments" appendTo="body"
        (onChange)="onSelectAssessment()" (onClear) ="onClear()" [showClear]="true" defaultLabel="Select assessment" [selectionLimit]="selectionLimit"
        optionLabel="label"></p-multiSelect>
      </div>
    </div>
    <div class="col-12 mt-20 ml-10" [hidden]="calResults?.length == 0">
      <p-table
      [value]="tableData"
      [paginator]="true"
      [rows]="rows"
      [totalRecords]="totalRecords"
      [lazy]="true"
      (onLazyLoad)="loadgridData($event)"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '5rem' }"
      paginatorDropdownAppendTo="body"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[ 5, 10, 20]"
      [loading]="loading"
      [responsive]="true"
      >
        <ng-template pTemplate="header">
          <tr>
            <th class="table-header-3">Intervention name</th>
            <th class="table-header-3">Assessment period</th>
            <th class="table-header-3" >Likelihood of transformation</th>
            <th class="table-header-3" >Outcome score</th>
            
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tableData>
          <tr (click)="goToResult(tableData.assessId)">
            
            <td>{{ tableData.climateAction?.policyName }}</td>
            <td>{{ tableData.from| date: 'dd/MM/yyyy'}} - {{tableData.to| date: 'dd/MM/yyyy'}}</td>
            <td class="text-center">{{ mapProcessScores(tableData.processScore) }}</td>
            <td class="text-center">{{ mapOutcomeScores(tableData.outcomeScore) }}</td>
           
          </tr>
        </ng-template>

      </p-table>
    </div>
    <div class="col-12" [hidden]="calResults?.length != 0">
      <p-messages severity="warn">
        <ng-template pTemplate>
          <i class="pi pi-info-circle mr-20" style="font-size: 2rem"></i>
          <div class="ml-2">No data to show.</div>
        </ng-template>
      </p-messages>
    </div>
  </div>
</div>

<div class="p-grid p-fluid card m-3">
  <div class="row text-center">
    <h3>Transformational change of interventions</h3>
    <app-heat-map  id="heatmap" [xData]="xData" [yData]="yData" [score]="heatMapScore" [showOp]="true" [tableData]="heatMapData" [preciseDotPosition]="true"></app-heat-map>
  </div>
</div>


<div class="row" >
  <div *ngIf="selectedPortfolio " class="col-md-6 col-12 d-flex align-items-stretch">
    <div  #targetDiv2 class="p-grid p-fluid card m-3">
      
      <div class="row text-center ">
        <h3>Expected GHG reductions over intervention lifetime of portfolios</h3>
        <div  *ngIf="sectorCount"  class="col-12" [hidden]="barChartData.length != 0" >
          <p-messages severity="warn">
            <ng-template pTemplate>
             
              <i class="pi pi-info-circle mr-20" style="font-size: 2rem"></i>
              <div class="ml-2">No data to show.</div>
            </ng-template>
          </p-messages>
        </div>
        <div class="col-12  mt-20 " [hidden]="barChartData.length == 0" >
    
            <canvas  #portfolioBarChart>{{ barChartData }}</canvas>
         </div>
    </div>
    </div>
</div>
  <div class="col-md-6 col-12 d-flex align-items-stretch">
    <div  #sourceDiv class="p-grid p-fluid card m-3" >
      <div class="row text-center" >
        <h3>SDGs impacted by the assessed interventions</h3>
        <div
          *ngIf="sdgDetailsList"
          class="col-12 mt-20"
          [hidden]="sdgDetailsList.length == 0"
        >
          <canvas height="450" #portfolioSDGsPieChart >{{ portfolioSDGsPieChart }}</canvas>
        </div>
      </div>
      <div
        *ngIf="sdgDetailsList"
        class="col-12"
        [hidden]="sdgDetailsList.length != 0"
      >
        <p-messages severity="warn">
          <ng-template pTemplate>
         
            <i class="pi pi-info-circle mr-20" style="font-size: 2rem"></i>
            <div class="ml-2">No data to show.</div>
          </ng-template>
        </p-messages>
      </div>
    </div>
  </div>
  <div *ngIf="!selectedPortfolio" class="col-md-6 col-12 d-flex align-items-stretch">
    <div #targetDiv class="p-grid p-fluid card m-3">
      <div class="row text-center">
        <h3>Sectors represented</h3>
        <div
          *ngIf="sectorCount"
          class="col-12 mt-20"
          [hidden]="sectorCount.length == 0"
        >
          <canvas height="450" #portfolioSectorCountPieChart >{{ sectorCountPieChart }}</canvas>
        </div>
      </div>
      <div
        *ngIf="sectorCount"
        class="col-12"
        [hidden]="sectorCount.length != 0"
      >
        <p-messages severity="warn">
          <ng-template pTemplate>
           
            <i class="pi pi-info-circle mr-20" style="font-size: 2rem"></i>
            <div class="ml-2">No data to show.</div>
          </ng-template>
        </p-messages>
      </div>
    </div>
  </div>
</div>
