<div class="container pl-20 pr-20">

  <div class="mb-12">
    <h4 class="mt-4"> Assess the Transformational Change due to a Portfolio of Interventions</h4>

  </div>


  <div class="card" style="min-height: 600px;">

    <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">

      <div class="row">

        <div class="p-grid p-fluid col-md-6 col-sm-12">



          <div class="row p-2">
            <div class="col-12 col-md-8">
              <div class="p-field">
                <label for="policy">Interventions</label>
                <select [disabled]="isSubmitted" class="form-control select-with-arrow" (change)="onChange($event)" ngModel name="policy"
                  id="exampleFormControlSelect1">
                  <option value="" disabled selected hidden>Select intervention</option>
                  <option *ngFor="let policy of policyList" [value]="policy.policyName">{{policy.policyName}}</option>
                </select>
              </div>
            </div>
          </div>

 <div *ngIf="flag">
  <div class="row p-2">
            <div class="col-12 col-md-8">
              <div class="p-field">
                <label for="selectedBarriers">Barriers:</label>
                <p-multiSelect [disabled]="isSubmitted" name="selectedBarriers" [options]="barriersList"
                  [(ngModel)]="selectedPolicyBarriersList" (onChange)="onItemSelectBarriers($event)"
                  defaultLabel="Select Barriers"  >
                </p-multiSelect>
              </div>
            </div>
          </div>

        </div>


          <div class="row p-2">
            <div class="col-12 col-md-8">
              <div class="p-field">
                <label for="assessment_type">Assessment type</label>
                <select [disabled]="isSubmitted" class="form-control select-with-arrow"  ngModel name="assessment_type"
                  id="exampleFormControlSelect1">
                  <option value="" disabled selected hidden>Select assessment type</option>
                  <option>Ex-ante</option>
                  <option>Ex-post</option>
                </select>
              </div>
            </div>
          </div>



          <div class="row p-2">
            <div class="col-12 col-md-8">
              <div class="p-field">
                <div class="field col-12 md:col-4">
                  <label for="date1">Assessment Period</label>
                  <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                      <i class="pi pi-calendar"></i>
                    </span>
                    <p-calendar [disabled]="isSubmitted" dateFormat="dd/mm/yy" inputId="date1" placeholder="From" ngModel name="date1"></p-calendar>
                    <span class="p-inputgroup-addon">to</span>
                    <p-calendar [disabled]="isSubmitted" dateFormat="dd/mm/yy" inputId="date2" placeholder="To" ngModel name="date2"></p-calendar>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="row p-2">
            <div class="col-12 col-md-8">
              <div class="p-field">
                <label for="assessment_method">Assessment Method</label>
                <select [disabled]="isSubmitted" class="form-control select-with-arrow" (change)="onChangeTrack($event)"   ngModel name="assessment_method"
                  id="exampleFormControlSelect1">
                  <option value="" disabled selected hidden>Select Assessment Method</option>
                  <option>Track 1</option>
                  <option>Track 2</option>
                  <option>Track 3</option>
                </select>
              </div>
            </div>
          </div>


          <div class="row p-2">
            <div class="col-12 col-md-8">
              <div class="p-field">
                <label for="assessment_approach">Assessment Approach</label>
                <select [disabled]="isSubmitted" class="form-control select-with-arrow" (change)="onChangeApproach($event)" ngModel name="assessment_approach"
                  id="exampleFormControlSelect1">
                  <option value="" disabled selected hidden>Select Assessment Approach</option>
                  <option>Direct</option>
                  <option>Indirect</option>
                </select>
              </div>
            </div>
          </div>



          <div class="row p-2">
            <div class="col-12 col-md-8">
              <div class="p-field">
                <label for="methodology">Methodology</label>
                <select [disabled]="isSubmitted" class="form-control select-with-arrow" ngModel name="methodology" id="exampleFormControlSelect1">
                  <option value="" disabled selected hidden>Select Methodology</option>
                  <option *ngFor="let methodology of methList" [value]="methodology">{{methodology}}</option>
                </select>
              </div>
            </div>
          </div>




<div *ngIf="selectedTrack === 'Track 1'">
  <div *ngIf="selectedApproach === 'Direct'">
    <div *ngIf="selectedType === 'TC Uganda Geothermal'" class="form-group">

      <br><br>
      <h5>Processess of change</h5>
      <div class="row p-2">
        <div class="col-12 col-md-8">
          <div class="p-field">
            <label for="UprosesCat">Categories:</label>
            <p-multiSelect name="UprosesCat" [options]="meth1Process" [(ngModel)]="selectedItems"
              (onChange)="onItemSelect($event)" defaultLabel="Select Categories"
              optionLabel="name"></p-multiSelect>

          </div>
        </div>
      </div>



      <div class="row p-2">
        <div class="col-12 col-md-12">
          <div class="p-field">
            <div *ngFor="let category of selectedItems"><br><br>
              <h6>{{category.name}}</h6>
              <label for="characteristics">
                <p style="font-size: medium; font-weight: bold;">Characteristics:</p>
              </label>
              <div *ngFor="let characteristic of getCategory(characteristics, category.name)">
                <input type="checkbox" name="{{category.name}}_{{characteristic.name}}" ngModel>&nbsp;
                &nbsp;{{characteristic.name}}<br>
                <label for="{{category.name}}_{{characteristic.name}}_relevance">Relevance: &nbsp; &nbsp;</label>
                <select id="{{characteristic.name}}_relevance"
                  name="{{category.name}}_{{characteristic.name}}_relevance" ngModel>
                  <option value="relevant">Relevant</option>
                  <option value="not_relevant">Not Relevant</option>
                  <option value="possible_relevant">Possible relevant</option>
                </select><br>
                <label for="{{category.name}}_{{characteristic.name}}_score">Score: &nbsp; &nbsp; &nbsp; &nbsp;
                  &nbsp; &nbsp;</label>
                <input type="number" name="{{category.name}}_{{characteristic.name}}_score" ngModel
                  placeholder="Score"> <br> <br>

                  <label for="{{category.name}}_{{characteristic.name}}_comment">Comment: &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp;</label>
                  <input type="text" name="{{category.name}}_{{characteristic.name}}_comment" ngModel
                    placeholder="Comment"> <br> <br>


                  <label class="mr-4">Upload Document : </label>
                  <p-fileUpload
                  name="file"
                  [customUpload]="true"
                  (uploadHandler)="myUploader($event,characteristic.name)"
                  url="{{ baseURL }}/methodology-assessment/uploadtest"
                  (onUpload)="onUpload($event)"
                  [multiple]="true"
                  [maxFileSize]="25000000"
                  styleClass="custom-file-upload"
                ></p-fileUpload>
                <br>  <br>
              </div>

            </div>
          </div>
        </div>
      </div>


      <br><br>
      <h5>Outcomes of change</h5>
      <div class="row p-2">
        <div class="col-12 col-md-8">
          <div class="p-field">
            <label for="uoutcomecat">Categories:</label>

            <p-multiSelect name="uoutcomecat" [options]="meth1Outcomes" [(ngModel)]="selectedItems2"
              (onChange)="onItemSelect2($event)" defaultLabel="Select Categories"
              optionLabel="name"></p-multiSelect>
          </div>
        </div>
      </div>


      <div class="row p-2">
        <div class="col-12 col-md-12">
          <div class="p-field">
            <div *ngFor="let category of selectedItems2"><br><br>
              <h6>{{category.name}}</h6>
              <label for="characteristics">
                <p style="font-size: medium; font-weight: bold;">Characteristics:</p>
              </label>
              <div *ngFor="let characteristic of getCategory(characteristics, category.name)">
                <input type="checkbox" name="{{category.name}}_{{characteristic.name}}" ngModel>&nbsp;
                &nbsp;{{characteristic.name}}<br>
                <label for="{{category.name}}_{{characteristic.name}}_relevance">Relevance: &nbsp; &nbsp;</label>
                <select id="{{characteristic.name}}_relevance"
                  name="{{category.name}}_{{characteristic.name}}_relevance" ngModel>
                  <option value="relevant">Relevant</option>
                  <option value="not_relevant">Not Relevant</option>
                  <option value="possible_relevant">Possible relevant</option>
                </select><br>
                <label for="{{category.name}}_{{characteristic.name}}_score">Score: &nbsp; &nbsp; &nbsp; &nbsp;
                  &nbsp; &nbsp;</label>
                <input type="number" name="{{category.name}}_{{characteristic.name}}_score" ngModel
                  placeholder="Score"> <br> <br>

                  <label for="{{category.name}}_{{characteristic.name}}_comment">Comment: &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp;</label>
                  <input type="text" name="{{category.name}}_{{characteristic.name}}_comment" ngModel
                    placeholder="Comment"> <br> <br>

                  <label class="mr-4">Upload Document : </label>
                  <p-fileUpload
                  name="file"
                  [customUpload]="true"
                  (uploadHandler)="myUploader($event,characteristic.name)"
                  url="{{ baseURL }}/methodology-assessment/uploadtest"
                  (onUpload)="onUpload($event)"
                  [multiple]="true"
                  [maxFileSize]="25000000"
                  styleClass="custom-file-upload"
                ></p-fileUpload><br>  <br>


              </div>

            </div>
          </div>
        </div>
      </div>



    </div> 
    <div *ngIf="selectedType === 'TC NACAG Initiative'" class="form-group">

      <br><br>
      <h5>Processess of change</h5>
      <div class="row p-2">
        <div class="col-12 col-md-8">
          <div class="p-field">
            <label for="nprocescat">Categories:</label>

            <p-multiSelect name="nprocescat" [options]="meth1Process" [(ngModel)]="selectedItems3"
              (onChange)="onItemSelect3($event)" defaultLabel="Select Categories"
              optionLabel="name"></p-multiSelect>
          </div>
        </div>
      </div>


      <div class="row p-2">
        <div class="col-12 col-md-12">
          <div class="p-field">
            <div *ngFor="let category of selectedItems3"><br><br>
              <h6>{{category.name}}</h6>

              <label for="{{category.name}}_catscore">Category Score: &nbsp;</label>
              <input type="number" name="{{category.name}}_catscore" ngModel placeholder="Score"> <br> <br>

              <label for="{{category.name}}_comment">Comment: &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp;</label>
              <input type="text" name="{{category.name}}_comment" ngModel
                placeholder="Comment"> <br> <br>

              <label class="mr-4">Upload Document : </label>
              <p-fileUpload
              name="file"
              [customUpload]="true"
              (uploadHandler)="myUploader($event,category.name)"
              url="{{ baseURL }}/methodology-assessment/uploadtest"
              (onUpload)="onUpload($event)"
              [multiple]="true"
              [maxFileSize]="25000000"
              styleClass="custom-file-upload"
            ></p-fileUpload>
            <br>  <br>


              <label for="characteristics">
                <p style="font-size: medium; font-weight: bold;">Characteristics:</p>
              </label>
              <div *ngFor="let characteristic of getCategory(characteristics, category.name)">
                <input type="checkbox" name="{{category.name}}_{{characteristic.name}}" ngModel>&nbsp;
                &nbsp;{{characteristic.name}}<br>
                <label for="{{category.name}}_{{characteristic.name}}_relevance">Relevance: &nbsp; &nbsp;</label>
                <select id="{{characteristic.name}}_relevance"
                  name="{{category.name}}_{{characteristic.name}}_relevance" ngModel>
                  <option value="relevant">Relevant</option>
                  <option value="not_relevant">Not Relevant</option>
                  <option value="possible_relevant">Possible relevant</option>
                </select><br>
                <label for="{{category.name}}_{{characteristic.name}}_score">Score: &nbsp; &nbsp; &nbsp; &nbsp;
                  &nbsp; &nbsp;</label>
                <input type="number" name="{{category.name}}_{{characteristic.name}}_score" ngModel
                  placeholder="Score"> <br> <br>

                  <label for="{{category.name}}_{{characteristic.name}}_comment">Comment: &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp;</label>
                  <input type="text" name="{{category.name}}_{{characteristic.name}}_comment" ngModel
                    placeholder="Comment"> <br> <br>

                  <label class="mr-4">Upload Document : </label>
                  <p-fileUpload
                  name="file"
                  [customUpload]="true"
                  (uploadHandler)="myUploader($event,characteristic.name)"
                  url="{{ baseURL }}/methodology-assessment/uploadtest"
                  (onUpload)="onUpload($event)"
                  [multiple]="true"
                  [maxFileSize]="25000000"
                  styleClass="custom-file-upload"
                ></p-fileUpload>
                <br>  <br>

              </div>

            </div>
          </div>
        </div>
      </div>



      <br><br>
      <h5>Outcomes of change</h5>
      <div class="row p-2">
        <div class="col-12 col-md-8">
          <div class="p-field">
            <label for="noutcat">Categories:</label>
            <p-multiSelect name="noutcat" [options]="meth1Outcomes" [(ngModel)]="selectedItems4"
              (onChange)="onItemSelect4($event)" defaultLabel="Select Categories"
              optionLabel="name"></p-multiSelect>

          </div>
        </div>
      </div>



      <div class="row p-2">
        <div class="col-12 col-md-12">
          <div class="p-field">
            <div *ngFor="let category of selectedItems4"><br><br>
              <h6>{{category.name}}</h6>

              <label for="{{category.name}}_catscore">Category Score: &nbsp;</label>
              <input type="number" name="{{category.name}}_catscore" ngModel placeholder="Score"> <br> <br>

              <label for="{{category.name}}_comment">Comment: &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp;</label>
              <input type="text" name="{{category.name}}_comment" ngModel
                placeholder="Comment"> <br> <br>

              <label class="mr-4">Upload Document : </label>
              <p-fileUpload
              name="file"
              [customUpload]="true"
              (uploadHandler)="myUploader($event,category.name)"
              url="{{ baseURL }}/methodology-assessment/uploadtest"
              (onUpload)="onUpload($event)"
              [multiple]="true"
              [maxFileSize]="25000000"
              styleClass="custom-file-upload"
            ></p-fileUpload>
            <br>  <br>

              <label for="characteristics">
                <p style="font-size: medium; font-weight: bold;">Characteristics:</p>
              </label>
              <div *ngFor="let characteristic of getCategory(characteristics, category.name)">
                <input type="checkbox" name="{{category.name}}_{{characteristic.name}}" ngModel>&nbsp;
                &nbsp;{{characteristic.name}}<br>
                <label for="{{category.name}}_{{characteristic.name}}_relevance">Relevance: &nbsp; &nbsp;</label>
                <select id="{{characteristic.name}}_relevance"
                  name="{{category.name}}_{{characteristic.name}}_relevance" ngModel>
                  <option value="relevant">Relevant</option>
                  <option value="not_relevant">Not Relevant</option>
                  <option value="possible_relevant">Possible relevant</option>
                </select><br>
                <label for="{{category.name}}_{{characteristic.name}}_score">Score: &nbsp; &nbsp; &nbsp; &nbsp;
                  &nbsp; &nbsp;</label>
                <input type="number" name="{{category.name}}_{{characteristic.name}}_score" ngModel
                  placeholder="Score"> <br> <br>

                  <label for="{{category.name}}_{{characteristic.name}}_comment">Comment: &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp;</label>
                  <input type="text" name="{{category.name}}_{{characteristic.name}}_comment" ngModel
                    placeholder="Comment"> <br> <br>

                  <label class="mr-4">Upload Document : </label>
                  <p-fileUpload
                  name="file"
                  [customUpload]="true"
                  (uploadHandler)="myUploader($event,characteristic.name)"
                  url="{{ baseURL }}/methodology-assessment/uploadtest"
                  (onUpload)="onUpload($event)"
                  [multiple]="true"
                  [maxFileSize]="25000000"
                  styleClass="custom-file-upload"
                ></p-fileUpload><br>  <br>



              </div>

            </div>
          </div>
        </div>
      </div>
    </div>


  </div> 
</div>

<div *ngIf="selectedTrack === 'Track 1'">
  <div *ngIf="selectedApproach === 'Indirect'">
    <div *ngIf="selectedType === 'TC Uganda Geothermal'" class="form-group">

      <br><br>
      <h5>Processess of change</h5>
      <div class="row p-2">
        <div class="col-12 col-md-8">
          <div class="p-field">
            <label for="UprosesCat">Categories:</label>
            <p-multiSelect [disabled]="isSubmitted" name="UprosesCat" [options]="meth1Process" [(ngModel)]="selectedItems"
              (onChange)="onItemSelect($event)" defaultLabel="Select Categories"
              optionLabel="name"></p-multiSelect>

          </div>
        </div>
      </div>



      <div class="row p-2">
        <div class="col-12 col-md-12">
          <div class="p-field">
            <div *ngFor="let category of selectedItems"><br><br>
              <h6>{{category.name}}</h6>
              <label for="characteristics">
                <p style="font-size: medium; font-weight: bold;">Characteristics:</p>
              </label>
              <div *ngFor="let characteristic of getCategory(characteristics, category.name)">
                <input [disabled]="isSubmitted" type="checkbox" name="{{category.name}}_{{characteristic.name}}" ngModel>&nbsp;
                &nbsp;{{characteristic.name}}<br>
                <label for="{{category.name}}_{{characteristic.name}}_relevance">Relevance: &nbsp; &nbsp;</label>
                <select [disabled]="isSubmitted" id="{{characteristic.name}}_relevance"
                  name="{{category.name}}_{{characteristic.name}}_relevance" ngModel>
                  <option value="relevant">Relevant</option>
                  <option value="not_relevant">Not Relevant</option>
                  <option value="possible_relevant">Possible relevant</option>
                </select><br>


                  <label for="{{category.name}}_{{characteristic.name}}_institution" >Institution &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</label>
                  <select [disabled]="isSubmitted"  (change)="onChangeInstitution($event)" ngModel
                  name="{{category.name}}_{{characteristic.name}}_institution"
                    id="{{category.name}}_{{characteristic.name}}_institution">
                    <option value="" disabled selected hidden>Select Institution</option>
                    <option *ngFor="let institu of instiTutionList" [value]="institu.id">{{institu.name}}</option>
                  </select> <br>

                  <label for="{{category.name}}_{{characteristic.name}}_comment">Comment:   &nbsp;
                    &nbsp; &nbsp;</label>
                  <input [disabled]="isSubmitted" type="text" name="{{category.name}}_{{characteristic.name}}_comment" ngModel
                    placeholder="Comment"> <br> <br>


                  <label class="mr-4">Upload Document : </label>
                  <p-fileUpload
                  name="file"
                  [customUpload]="true"
                  (uploadHandler)="myUploader($event,characteristic.name)"
                  url="{{ baseURL }}/methodology-assessment/uploadtest"
                  (onUpload)="onUpload($event)"
                  [multiple]="true"
                  [maxFileSize]="25000000"
                  styleClass="custom-file-upload"
                  [disabled]="isSubmitted"
                ></p-fileUpload>
                <br>  <br>
              </div>

            </div>
          </div>
        </div>
      </div>


      <br><br>
      <h5>Outcomes of change</h5>
      <div class="row p-2">
        <div class="col-12 col-md-8">
          <div class="p-field">
            <label for="uoutcomecat">Categories:</label>

            <p-multiSelect [disabled]="isSubmitted" name="uoutcomecat" [options]="meth1Outcomes" [(ngModel)]="selectedItems2"
              (onChange)="onItemSelect2($event)" defaultLabel="Select Categories"
              optionLabel="name"></p-multiSelect>
          </div>
        </div>
      </div>


      <div class="row p-2">
        <div class="col-12 col-md-12">
          <div class="p-field">
            <div *ngFor="let category of selectedItems2"><br><br>
              <h6>{{category.name}}</h6>
              <label for="characteristics">
                <p style="font-size: medium; font-weight: bold;">Characteristics:</p>
              </label>
              <div *ngFor="let characteristic of getCategory(characteristics, category.name)">
                <input [disabled]="isSubmitted" type="checkbox" name="{{category.name}}_{{characteristic.name}}" ngModel>&nbsp;
                &nbsp;{{characteristic.name}}<br>
                <label for="{{category.name}}_{{characteristic.name}}_relevance">Relevance: &nbsp; &nbsp;</label>
                <select [disabled]="isSubmitted" id="{{characteristic.name}}_relevance"
                  name="{{category.name}}_{{characteristic.name}}_relevance" ngModel>
                  <option value="relevant">Relevant</option>
                  <option value="not_relevant">Not Relevant</option>
                  <option value="possible_relevant">Possible relevant</option>
                </select><br>
                <label for="{{category.name}}_{{characteristic.name}}_institution" >Institution &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</label>
                  <select [disabled]="isSubmitted"  (change)="onChangeInstitution($event)" ngModel
                  name="{{category.name}}_{{characteristic.name}}_institution"
                    id="{{category.name}}_{{characteristic.name}}_institution">
                    <option value="" disabled selected hidden>Select Institution</option>
                    <option *ngFor="let institu of instiTutionList" [value]="institu.id">{{institu.name}}</option>
                  </select> <br>

                  <label for="{{category.name}}_{{characteristic.name}}_comment">Comment: &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp;</label>
                  <input [disabled]="isSubmitted" type="text" name="{{category.name}}_{{characteristic.name}}_comment" ngModel
                    placeholder="Comment"> <br> <br>

                  <label class="mr-4">Upload Document : </label>
                  <p-fileUpload
                  name="file"
                  [customUpload]="true"
                  (uploadHandler)="myUploader($event,characteristic.name)"
                  url="{{ baseURL }}/methodology-assessment/uploadtest"
                  (onUpload)="onUpload($event)"
                  [multiple]="true"
                  [maxFileSize]="25000000"
                  styleClass="custom-file-upload"
                  [disabled]="isSubmitted"
                ></p-fileUpload><br>  <br>


              </div>

            </div>
          </div>
        </div>
      </div>



    </div> 
    <div *ngIf="selectedType === 'TC NACAG Initiative'" class="form-group">

      <br><br>
      <h5>Processess of change</h5>
      <div class="row p-2">
        <div class="col-12 col-md-8">
          <div class="p-field">
            <label for="nprocescat">Categories:</label>

            <p-multiSelect [disabled]="isSubmitted" name="nprocescat" [options]="meth1Process" [(ngModel)]="selectedItems3"
              (onChange)="onItemSelect3($event)" defaultLabel="Select Categories"
              optionLabel="name"></p-multiSelect>
          </div>
        </div>
      </div>


      <div class="row p-2">
        <div class="col-12 col-md-12">
          <div class="p-field">
            <div *ngFor="let category of selectedItems3"><br><br>
              <h6>{{category.name}}</h6>

              <br>

              <label for="{{category.name}}_institution" >Institution for category &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</label>
                  <select [disabled]="isSubmitted"  (change)="onChangeInstitution($event)" ngModel
                  name="{{category.name}}_institution"
                    id="{{category.name}}_institution">
                    <option value="" disabled selected hidden>Select Institution</option>
                    <option *ngFor="let institu of instiTutionList" [value]="institu.id">{{institu.name}}</option>
                  </select> <br><br>

                  <label for="{{category.name}}_comment">Comment: &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp;</label>
                  <input [disabled]="isSubmitted" type="text" name="{{category.name}}_comment" ngModel
                    placeholder="Comment"> <br> <br>

                  <label class="mr-4">Upload Document : </label>
                  <p-fileUpload
                  name="file"
                  [customUpload]="true"
                  (uploadHandler)="myUploader($event,category.name)"
                  url="{{ baseURL }}/methodology-assessment/uploadtest"
                  (onUpload)="onUpload($event)"
                  [multiple]="true"
                  [maxFileSize]="25000000"
                  styleClass="custom-file-upload"
                  [disabled]="isSubmitted"
                ></p-fileUpload>
                <br>  <br>



              <label for="characteristics">
                <p style="font-size: medium; font-weight: bold;">Characteristics:</p>
              </label>
              <div *ngFor="let characteristic of getCategory(characteristics, category.name)">
                <input [disabled]="isSubmitted" type="checkbox" name="{{category.name}}_{{characteristic.name}}" ngModel>&nbsp;
                &nbsp;{{characteristic.name}}<br>
                <label for="{{category.name}}_{{characteristic.name}}_relevance">Relevance: &nbsp; &nbsp;</label>
                <select [disabled]="isSubmitted" id="{{characteristic.name}}_relevance"
                  name="{{category.name}}_{{characteristic.name}}_relevance" ngModel>
                  <option value="relevant">Relevant</option>
                  <option value="not_relevant">Not Relevant</option>
                  <option value="possible_relevant">Possible relevant</option>
                </select><br>

                <label for="{{category.name}}_{{characteristic.name}}_institution" >Institution &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</label>
                  <select [disabled]="isSubmitted"  (change)="onChangeInstitution($event)" ngModel
                  name="{{category.name}}_{{characteristic.name}}_institution"
                    id="{{category.name}}_{{characteristic.name}}_institution">
                    <option value="" disabled selected hidden>Select Institution</option>
                    <option *ngFor="let institu of instiTutionList" [value]="institu.id">{{institu.name}}</option>
                  </select> <br>

                  <label for="{{category.name}}_{{characteristic.name}}_comment">Comment: &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp;</label>
                  <input [disabled]="isSubmitted" type="text" name="{{category.name}}_{{characteristic.name}}_comment" ngModel
                    placeholder="Comment"> <br> <br>

                  <label class="mr-4">Upload Document : </label>
                  <p-fileUpload
                  name="file"
                  [customUpload]="true"
                  (uploadHandler)="myUploader($event,characteristic.name)"
                  url="{{ baseURL }}/methodology-assessment/uploadtest"
                  (onUpload)="onUpload($event)"
                  [multiple]="true"
                  [maxFileSize]="25000000"
                  styleClass="custom-file-upload"
                  [disabled]="isSubmitted"
                ></p-fileUpload>
                <br>  <br>

              </div>

            </div>
          </div>
        </div>
      </div>



      <br><br>
      <h5>Outcomes of change</h5>
      <div class="row p-2">
        <div class="col-12 col-md-8">
          <div class="p-field">
            <label for="noutcat">Categories:</label>
            <p-multiSelect [disabled]="isSubmitted" name="noutcat" [options]="meth1Outcomes" [(ngModel)]="selectedItems4"
              (onChange)="onItemSelect4($event)" defaultLabel="Select Categories"
              optionLabel="name"></p-multiSelect>

          </div>
        </div>
      </div>



      <div class="row p-2">
        <div class="col-12 col-md-12">
          <div class="p-field">
            <div *ngFor="let category of selectedItems4"><br><br>
              <h6>{{category.name}}</h6>

              <br>

              <label for="{{category.name}}_institution" >Institution for category &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</label>
                  <select [disabled]="isSubmitted"  (change)="onChangeInstitution($event)" ngModel
                  name="{{category.name}}_institution"
                    id="{{category.name}}_institution">
                    <option value="" disabled selected hidden>Select Institution</option>
                    <option *ngFor="let institu of instiTutionList" [value]="institu.id">{{institu.name}}</option>
                  </select> <br><br>

                  <label for="{{category.name}}_comment">Comment: &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp;</label>
                  <input [disabled]="isSubmitted" type="text" name="{{category.name}}_comment" ngModel
                    placeholder="Comment"> <br> <br>

                  <label class="mr-4">Upload Document : </label>
                  <p-fileUpload
                  name="file"
                  [customUpload]="true"
                  (uploadHandler)="myUploader($event,category.name)"
                  url="{{ baseURL }}/methodology-assessment/uploadtest"
                  (onUpload)="onUpload($event)"
                  [multiple]="true"
                  [maxFileSize]="25000000"
                  styleClass="custom-file-upload"
                  [disabled]="isSubmitted"
                ></p-fileUpload>
                <br>  <br>


              <label for="characteristics">
                <p style="font-size: medium; font-weight: bold;">Characteristics:</p>
              </label>
              <div *ngFor="let characteristic of getCategory(characteristics, category.name)">
                <input [disabled]="isSubmitted" type="checkbox" name="{{category.name}}_{{characteristic.name}}" ngModel>&nbsp;
                &nbsp;{{characteristic.name}}<br>
                <label for="{{category.name}}_{{characteristic.name}}_relevance">Relevance: &nbsp; &nbsp;</label>
                <select [disabled]="isSubmitted"  id="{{characteristic.name}}_relevance"
                  name="{{category.name}}_{{characteristic.name}}_relevance" ngModel>
                  <option value="relevant">Relevant</option>
                  <option value="not_relevant">Not Relevant</option>
                  <option value="possible_relevant">Possible relevant</option>
                </select><br>

                <label for="{{category.name}}_{{characteristic.name}}_institution" >Institution &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</label>
                  <select [disabled]="isSubmitted"  (change)="onChangeInstitution($event)" ngModel
                  name="{{category.name}}_{{characteristic.name}}_institution"
                    id="{{category.name}}_{{characteristic.name}}_institution">
                    <option value="" disabled selected hidden>Select Institution</option>
                    <option *ngFor="let institu of instiTutionList" [value]="institu.id">{{institu.name}}</option>
                  </select> <br>

                  <label for="{{category.name}}_{{characteristic.name}}_comment">Comment: &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp;</label>
                  <input [disabled]="isSubmitted" type="text" name="{{category.name}}_{{characteristic.name}}_comment" ngModel
                    placeholder="Comment"> <br> <br>

                  <label class="mr-4">Upload Document : </label>
                  <p-fileUpload
                  name="file"
                  [customUpload]="true"
                  (uploadHandler)="myUploader($event,characteristic.name)"
                  url="{{ baseURL }}/methodology-assessment/uploadtest"
                  (onUpload)="onUpload($event)"
                  [multiple]="true"
                  [maxFileSize]="25000000"
                  styleClass="custom-file-upload"
                  [disabled]="isSubmitted"
                ></p-fileUpload><br>  <br>



              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<div *ngIf="selectedTrack === 'Track 2'">
  <div *ngIf="selectedApproach === 'Direct'">
    <div *ngIf="selectedType === 'TC Uganda Geothermal'" class="form-group">

      <br><br>
      <h5>Processess of change</h5>
      <div class="row p-2">
        <div class="col-12 col-md-8">
          <div class="p-field">
            <label for="UprosesCat">Categories:</label>
            <p-multiSelect name="UprosesCat" [options]="meth1Process" [(ngModel)]="selectedItems"
              (onChange)="onItemSelect($event)" defaultLabel="Select Categories"
              optionLabel="name"></p-multiSelect>

          </div>
        </div>
      </div>



      <div class="row p-2">
        <div class="col-12 col-md-12">
          <div class="p-field">
            <div *ngFor="let category of selectedItems"><br><br>
              <h6>{{category.name}}</h6>
              <label for="characteristics">
                <p style="font-size: medium; font-weight: bold;">Characteristics:</p>
              </label>
              <div *ngFor="let characteristic of getCategory(characteristics, category.name)">
                <input type="checkbox" name="{{category.name}}_{{characteristic.name}}" ngModel>&nbsp;
                &nbsp;{{characteristic.name}}<br>
                <label for="{{category.name}}_{{characteristic.name}}_relevance">Relevance: &nbsp; &nbsp;</label>
                <select id="{{characteristic.name}}_relevance"
                  name="{{category.name}}_{{characteristic.name}}_relevance" ngModel>
                  <option value="relevant">Relevant</option>
                  <option value="not_relevant">Not Relevant</option>
                  <option value="possible_relevant">Possible relevant</option>
                </select><br>
                <label for="{{category.name}}_{{characteristic.name}}_score">Score: &nbsp; &nbsp; &nbsp; &nbsp;
                  &nbsp; &nbsp;</label>
                <input type="number" name="{{category.name}}_{{characteristic.name}}_score" ngModel
                  placeholder="Score"> <br> <br>

                  <label for="{{category.name}}_{{characteristic.name}}_comment">Comment: &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp;</label>
                  <input type="text" name="{{category.name}}_{{characteristic.name}}_comment" ngModel
                    placeholder="Comment"> <br> <br>


                  <label class="mr-4">Upload Document : </label>
                  <p-fileUpload
                  name="file"
                  [customUpload]="true"
                  (uploadHandler)="myUploader($event,characteristic.name)"
                  url="{{ baseURL }}/methodology-assessment/uploadtest"
                  (onUpload)="onUpload($event)"
                  [multiple]="true"
                  [maxFileSize]="25000000"
                  styleClass="custom-file-upload"
                ></p-fileUpload>
                <br>  <br>
              </div>

            </div>
          </div>
        </div>
      </div>


      <br><br>
      <h5>Outcomes of change</h5>
      <div class="row p-2">
        <div class="col-12 col-md-8">
          <div class="p-field">
            <label for="uoutcomecat">Categories:</label>

            <p-multiSelect name="uoutcomecat" [options]="meth1Outcomes" [(ngModel)]="selectedItems2"
              (onChange)="onItemSelect2($event)" defaultLabel="Select Categories"
              optionLabel="name"></p-multiSelect>
          </div>
        </div>
      </div>


      <div class="row p-2">
        <div class="col-12 col-md-12">
          <div class="p-field">
            <div *ngFor="let category of selectedItems2"><br><br>
              <h6>{{category.name}}</h6>
              <label for="characteristics">
                <p style="font-size: medium; font-weight: bold;">Characteristics:</p>
              </label>
              <div *ngFor="let characteristic of getCategory(characteristics, category.name)">
                <input type="checkbox" name="{{category.name}}_{{characteristic.name}}" ngModel>&nbsp;
                &nbsp;{{characteristic.name}}<br>
                <label for="{{category.name}}_{{characteristic.name}}_relevance">Relevance: &nbsp; &nbsp;</label>
                <select id="{{characteristic.name}}_relevance"
                  name="{{category.name}}_{{characteristic.name}}_relevance" ngModel>
                  <option value="relevant">Relevant</option>
                  <option value="not_relevant">Not Relevant</option>
                  <option value="possible_relevant">Possible relevant</option>
                </select><br>
                <label for="{{category.name}}_{{characteristic.name}}_score">Score: &nbsp; &nbsp; &nbsp; &nbsp;
                  &nbsp; &nbsp;</label>
                <input type="number" name="{{category.name}}_{{characteristic.name}}_score" ngModel
                  placeholder="Score"> <br> <br>

                  <label for="{{category.name}}_{{characteristic.name}}_comment">Comment: &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp;</label>
                  <input type="text" name="{{category.name}}_{{characteristic.name}}_comment" ngModel
                    placeholder="Comment"> <br> <br>

                  <label class="mr-4">Upload Document : </label>
                  <p-fileUpload
                  name="file"
                  [customUpload]="true"
                  (uploadHandler)="myUploader($event,characteristic.name)"
                  url="{{ baseURL }}/methodology-assessment/uploadtest"
                  (onUpload)="onUpload($event)"
                  [multiple]="true"
                  [maxFileSize]="25000000"
                  styleClass="custom-file-upload"
                ></p-fileUpload><br>  <br>


              </div>

            </div>
          </div>
        </div>
      </div>



    </div> 
    <div *ngIf="selectedType === 'TC NACAG Initiative'" class="form-group">

      <br><br>
      <h5>Processess of change</h5>
      <div class="row p-2">
        <div class="col-12 col-md-8">
          <div class="p-field">
            <label for="nprocescat">Categories:</label>

            <p-multiSelect name="nprocescat" [options]="meth1Process" [(ngModel)]="selectedItems3"
              (onChange)="onItemSelect3($event)" defaultLabel="Select Categories"
              optionLabel="name"></p-multiSelect>
          </div>
        </div>
      </div>


      <div class="row p-2">
        <div class="col-12 col-md-12">
          <div class="p-field">
            <div *ngFor="let category of selectedItems3"><br><br>
              <h6>{{category.name}}</h6>

              <label for="{{category.name}}_catscore">Category Score: &nbsp;</label>
              <input type="number" name="{{category.name}}_catscore" ngModel placeholder="Score"> <br> <br>

              <label for="characteristics">
                <p style="font-size: medium; font-weight: bold;">Characteristics:</p>
              </label>
              <div *ngFor="let characteristic of getCategory(characteristics, category.name)">
                <input type="checkbox" name="{{category.name}}_{{characteristic.name}}" ngModel>&nbsp;
                &nbsp;{{characteristic.name}}<br>
                <label for="{{category.name}}_{{characteristic.name}}_relevance">Relevance: &nbsp; &nbsp;</label>
                <select id="{{characteristic.name}}_relevance"
                  name="{{category.name}}_{{characteristic.name}}_relevance" ngModel>
                  <option value="relevant">Relevant</option>
                  <option value="not_relevant">Not Relevant</option>
                  <option value="possible_relevant">Possible relevant</option>
                </select><br>
                <label for="{{category.name}}_{{characteristic.name}}_score">Score: &nbsp; &nbsp; &nbsp; &nbsp;
                  &nbsp; &nbsp;</label>
                <input type="number" name="{{category.name}}_{{characteristic.name}}_score" ngModel
                  placeholder="Score"> <br> <br>

                  <label for="{{category.name}}_{{characteristic.name}}_comment">Comment: &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp;</label>
                  <input type="text" name="{{category.name}}_{{characteristic.name}}_comment" ngModel
                    placeholder="Comment"> <br> <br>

                  <label class="mr-4">Upload Document : </label>
                  <p-fileUpload
                  name="file"
                  [customUpload]="true"
                  (uploadHandler)="myUploader($event,characteristic.name)"
                  url="{{ baseURL }}/methodology-assessment/uploadtest"
                  (onUpload)="onUpload($event)"
                  [multiple]="true"
                  [maxFileSize]="25000000"
                  styleClass="custom-file-upload"
                ></p-fileUpload>
                <br>  <br>

              </div>

            </div>
          </div>
        </div>
      </div>



      <br><br>
      <h5>Outcomes of change</h5>
      <div class="row p-2">
        <div class="col-12 col-md-8">
          <div class="p-field">
            <label for="noutcat">Categories:</label>
            <p-multiSelect name="noutcat" [options]="meth1Outcomes" [(ngModel)]="selectedItems4"
              (onChange)="onItemSelect4($event)" defaultLabel="Select Categories"
              optionLabel="name"></p-multiSelect>

          </div>
        </div>
      </div>



      <div class="row p-2">
        <div class="col-12 col-md-12">
          <div class="p-field">
            <div *ngFor="let category of selectedItems4"><br><br>
              <h6>{{category.name}}</h6>

              <label for="{{category.name}}_catscore">Category Score: &nbsp;</label>
              <input type="number" name="{{category.name}}_catscore" ngModel placeholder="Score"> <br> <br>

              <label for="characteristics">
                <p style="font-size: medium; font-weight: bold;">Characteristics:</p>
              </label>
              <div *ngFor="let characteristic of getCategory(characteristics, category.name)">
                <input type="checkbox" name="{{category.name}}_{{characteristic.name}}" ngModel>&nbsp;
                &nbsp;{{characteristic.name}}<br>
                <label for="{{category.name}}_{{characteristic.name}}_relevance">Relevance: &nbsp; &nbsp;</label>
                <select id="{{characteristic.name}}_relevance"
                  name="{{category.name}}_{{characteristic.name}}_relevance" ngModel>
                  <option value="relevant">Relevant</option>
                  <option value="not_relevant">Not Relevant</option>
                  <option value="possible_relevant">Possible relevant</option>
                </select><br>
                <label for="{{category.name}}_{{characteristic.name}}_score">Score: &nbsp; &nbsp; &nbsp; &nbsp;
                  &nbsp; &nbsp;</label>
                <input type="number" name="{{category.name}}_{{characteristic.name}}_score" ngModel
                  placeholder="Score"> <br> <br>

                  <label for="{{category.name}}_{{characteristic.name}}_comment">Comment: &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp;</label>
                  <input type="text" name="{{category.name}}_{{characteristic.name}}_comment" ngModel
                    placeholder="Comment"> <br> <br>

                  <label class="mr-4">Upload Document : </label>
                  <p-fileUpload
                  name="file"
                  [customUpload]="true"
                  (uploadHandler)="myUploader($event,characteristic.name)"
                  url="{{ baseURL }}/methodology-assessment/uploadtest"
                  (onUpload)="onUpload($event)"
                  [multiple]="true"
                  [maxFileSize]="25000000"
                  styleClass="custom-file-upload"
                ></p-fileUpload><br>  <br>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>


<div *ngIf="selectedTrack === 'Track 2'">
  <div *ngIf="selectedApproach === 'Indirect'">
<p>Track 2 and Indirect path</p>
  </div>
</div>


        </div>
      </div>

      <div class="d-flex flex-row-reverse mt-2 mb-2">
        <button pButton pRipple class="btn btn-primary btn-block" type='submit'>Submit</button>
      </div>
    </form>


      <div class="row">
      <div class="p-grid p-fluid col-md-6 col-sm-12">

        <div *ngIf="!isSubmitted">
    <div *ngIf="assessmentId">

      <div class="row p-2">
        <div class="col-12 col-md-8">
          <div class="p-field">
            <label for="category-select">Select characteristics affected by barriers:</label>
            <p-multiSelect [options]="relevantChaList" [(ngModel)]="selectChaAffectByBarriers"
              (onChange)="onItemSelectcha($event)" defaultLabel="Select Characteristics" optionLabel="name"></p-multiSelect>
            <button type="submit" (click)="submitForm()">Submit</button>
          </div>
        </div>
      </div>

      <div *ngIf="trigger">

        <div class="row p-2">
          <div class="col-12 col-md-8">
            <div class="p-field">


              <div *ngFor="let characteristic of selectChaAffectByBarriers"><br><br>
                <input type="checkbox" name="{{characteristic.name}}_barrier" ngModel>&nbsp;
                &nbsp;{{characteristic.name}}<br>

                <label for="methodolog">Indicator</label>
                <select class="form-control select-with-arrow" [(ngModel)]="characteristic.indicator">
                  <option value="" disabled selected hidden>Select Indicator</option>
                  <option *ngFor="let indicator of handleSelectedCharacteristic(characteristic.name)"
                    [value]="indicator.name">{{indicator.name}}</option>
                </select><br>


                <label for="methodolog">Methodology</label>
                <select class="form-control select-with-arrow" name="{{characteristic.name}}_methodology" ngModel
                  id="exampleFormControlSelect1">
                  <option value="" disabled selected hidden>Select Methodology</option>
                  <option *ngFor="let meth of onIndicatorSelected(characteristic.indicator)" [value]="meth.name">
                    {{meth.name}}</option>
                </select>

              </div>




            </div>
          </div>
        </div>

    </div>
  </div>
</div>

</div>
</div>

</div>
</div>
