<div class="container pl-20 pr-20">
    <div class="mb-12">
        <h4 class="mt-4"> Assess interventions: {{masterDataService.getToolName('CARBON_MARKET')}}
          <span class="infor-video" ><i class="pi pi-info-circle" (mouseover)="opAssessment.toggle($event)" (mouseout)="opAssessment.toggle($event)" style="font-size: 25px"></i></span>
          <span (click)="watchVideo()" pTooltip="Click to watch guidance video"  class="infor-video" ><i class="pi pi-video" style=" font-size: 1em ;  margin-left: 1em;"></i></span>
        </h4>
    </div>
    <form #fData="ngForm" (ngSubmit)="save(fData)">
        <div class="card" style="min-height: 600px;">
            <div class="p-grid p-fluid col-md-8 col-sm-12">
                <div class="row p-2">
                    <div class="col-12 col-md-8">
                        <div class="p-field p-2">
                            <label for="policy">Select intervention *</label>
                            <p-dropdown name="policy" #policy="ngModel" placeholder="Select intervention"
                                [(ngModel)]="assessment.climateAction" appendTo="body" [options]="policies"
                                optionLabel="policyName" [required]="true" [disabled]="isEditMode || isDisableIntervention" (onChange)="onSelectIntervention($event)"></p-dropdown>
                            <p class="info-message text-danger" *ngIf="
                                !assessment.climateAction &&
                                (fData.submitted || policy.touched)
                              ">
                                This is a mandatory field
                            </p>
                        </div>
                        <div class="p-field p-2">
                            <label for="policy">Scale of activity *</label>
                            <p-dropdown name="scale" #scale="ngModel" placeholder="Select scale of activity"
                                [(ngModel)]="cm_detail.scale" [options]="scales" optionLabel="name"
                                optionValue="code" [required]="true" [disabled]="isEditMode && !isCompleted && isContinue" ></p-dropdown>
                            <p class="info-message text-danger" *ngIf="
                                !cm_detail.scale &&
                                (fData.submitted || scale.touched)
                              ">
                                This is a mandatory field
                            </p>
                        </div>
                        <div class="p-field p-2">
                            <label for="policy">Assessment type *</label>
                            <p-dropdown name="type" #type="ngModel" placeholder="Select assessment type"
                                [(ngModel)]="assessment.assessmentType" [options]="assessment_types" optionLabel="name"
                                optionValue="name" [required]="true" [disabled]="isEditMode || isDisableIntervention"
                                (onChange)="selectAssessmentType($event)"></p-dropdown>
                            <p class="info-message text-danger" *ngIf="
                                !assessment.assessmentType &&
                                (fData.submitted || type.touched)
                              ">
                                This is a mandatory field
                            </p>
                        </div>
                       
                        <div class="p-field p-2">
                          <label for="Level of implementation">Geographical area covered * <i class="pi pi-info-circle" style="font-size: 1rem" tooltipPosition="bottom" [pTooltip]="assessment_geoArea_tooltip"></i></label>
                          <p-confirmDialog key="geoConfirm"  icon="pi pi-exclamation-triangle" position="top" [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
                          <p-dropdown appendTo="body" name="investorAssessment.geographical_areas_covered" #geoarea="ngModel" placeholder="Select geographical area covered" [disabled]="isSavedAssessment|| (isEditMode && !isCompleted && isContinue)" [(ngModel)]="geographicalArea" [options]="levelOfImplementation" optionLabel="name"
                          (onChange)="onChangeGeoAreaCovered()" [required]="true"></p-dropdown>
                          <p class="info-message text-danger" *ngIf="
                                              !geographicalArea &&
                                              (fData.submitted || geoarea.touched)
                                            ">
                            This is a mandatory field
                          </p>
                        </div>
                        <div class="p-field p-2">
                          <label for="Sectors Covered">Sectors covered * <i class="pi pi-info-circle" style="font-size: 1rem" tooltipPosition="bottom" [pTooltip]="assessment_sector_tooltip"></i></label>
                          <p-confirmDialog key="sectorConfirm"  icon="pi pi-exclamation-triangle" position="top" [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
                          <p-multiSelect #multiSelectComponent appendTo="body" name="sectors" #sectors="ngModel" placeholder="Select sectors covered" [(ngModel)]="sectorArray" [options]="sectorList" (onChange)="onItemSelectSectors($event)" [disabled]="isSavedAssessment|| (isEditMode && !isCompleted && isContinue)" optionLabel="name"
                            [required]="true"></p-multiSelect>
                          <p class="info-message text-danger" *ngIf="
                                            sectorArray.length===0 &&
                                            (fData.submitted || sectors.touched)
                                          ">
                            This is a mandatory field
                          </p>
                        </div>
                        <div class="p-field p-2">
                            <label for="opportunities">Opportunities for stakeholders to participate in the assessment *</label>
                            <textarea rows="5" pInputText type="text" #opportunities="ngModel" name="opportunities" ngModel [disabled]="isSavedAssessment|| (isEditMode && !isCompleted && isContinue)" placeholder="Describe if and how stakeholders will participate in the assessment" [(ngModel)]="assessment.opportunities" required
                              [maxlength]="masterDataService.getFieldCharCount(fieldNames.ASSESSMENT_OPPORTUNITIES)"></textarea>
                            <p class="info-message text-danger"
                                *ngIf="!opportunities.value && (fData.submitted || opportunities.touched)">This is a
                                mandatory field</p>
                        </div>
                        <div class="p-field p-2">
                            <label for="date1">Assessment period&nbsp;* <i class="pi pi-info-circle" style="font-size: 1rem" tooltipPosition="bottom" [pTooltip]="assessment_period_info"></i></label>
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">
                                    <i class="pi pi-calendar"></i>
                                </span>
                                <p-calendar dateFormat="dd/mm/yy" inputId="date1" placeholder="From" (onSelect)="onSelectFromDate($event)"
                                    [(ngModel)]="from_date" name="date1" #date1="ngModel" [required]="true"
                                    appendTo="body" [disabled]="isSavedAssessment || (isEditMode && !isCompleted && isContinue)" [minDate]="minDate">
                                </p-calendar>
                                <span class="p-inputgroup-addon">to</span>
                                <p-calendar dateFormat="dd/mm/yy" inputId="date2" placeholder="To" [minDate]="minDateTo"
                                    [(ngModel)]="to_date" name="date2" #date2="ngModel" [required]="true"
                                    appendTo="body" [disabled]="isSavedAssessment || (isEditMode && !isCompleted && isContinue)"></p-calendar>
                            </div>
                            <div class="col-12">
                                <p class="info-message text-danger"
                                    *ngIf="(date1.invalid || date2.invalid) && (fData.submitted || date1.touched || date2.touched)">
                                    This is a mandatory field
                                </p>
                            </div>
                        </div>
                        <div class="p-field p-2">
                            <label for="policy">Assessment boundaries (If different from the intervention boundary
                                specified in the baseline methodology)</label>
                            <input type="text" name="tboundrary" #tboundrary="ngModel"  [disabled]="isEditMode && !isCompleted && isContinue"
                                [(ngModel)]="cm_detail.boundraries" class="form-control" placeholder="Enter boundary" />
                           
                        </div>
                        <div class="p-field p-2">
                            <label for="policy">International carbon market approach used * <i class="pi pi-info-circle" pTooltip="{{international_tooltip}}" tooltipPosition="bottom"
                                style="font-size: 1rem"></i></label>
                            <p-dropdown name="int-approach" #appr="ngModel" placeholder="Select carbon market approach"
                                [(ngModel)]="cm_detail.intCMApproach" [options]="int_cm_approches" optionLabel="name"
                                optionValue="code" [required]="true" [disabled]="isEditMode && !isCompleted && isContinue"></p-dropdown>
                            <p class="info-message text-danger" *ngIf="
                                !assessment.assessmentType &&
                                (fData.submitted || appr.touched)
                              ">
                                This is a mandatory field
                            </p>
                        </div>
                        <div class="p-field p-2" *ngIf="cm_detail.intCMApproach === 'OTHER'">
                            <label for="policy">Please specify</label>
                            <input type="text" name="cmApproach" #cmApproach="ngModel" [disabled]="isEditMode && !isCompleted && isContinue"
                                [(ngModel)]="cm_detail.otherIntCMApproach" class="form-control"
                                placeholder="Enter carbon market approach" required />
                        </div>
                        <div class="p-field p-2">
                            <label for="policy">Baseline and monitoring methodology applied by the intervention</label>
                            <input type="text" name="methodology" #methodology="ngModel" [disabled]="isEditMode && !isCompleted && isContinue"
                                [(ngModel)]="cm_detail.appliedMethodology" class="form-control"
                                placeholder="Enter methodology" />
                        </div>
                        
                    </div>
                    <div class="mt-2 overflow-visible" style="z-index: 1;">
                      <div class="p-grid p-fluid col-sm-12">
                        <div class="p-2">
                          <h6>Transformational vision & stage <i class="pi pi-info-circle" (mouseover)="op.toggle($event)" (mouseout)="op.toggle($event)" style="font-size: 1rem"></i></h6>
                        </div>
                        <div class="row p-2">
                          <div class="  col-12">
                                                                    
                              <label >What is the vision for the desired change of the system over time towards zero-carbon and sustainable practices? *</label>
                          </div>
                          <div class="col-12 col-md-6">
                            <div class="p-field">
                              <textarea  name="envisioned_change" placeholder="Enter an answer" #envisioned_change="ngModel" 
                                [(ngModel)]="assessment.envisioned_change" rows="1" cols="130" pInputText autoResize="autoResize" required
                                [disabled]="isSavedAssessment || (isEditMode && !isCompleted && isContinue)" [maxlength]="masterDataService.getFieldCharCount(fieldNames.VISION)"></textarea>
                                <span style="float: right;">Maximum characters {{masterDataService.getFieldCharCount(fieldNames.VISION)}}</span>
                                <p class="info-message text-danger" *ngIf="  !envisioned_change.value &&                     
                                  (fData.submitted || envisioned_change.touched || envisioned_change.dirty)
                                ">
                                    This is a mandatory field
                                  </p>
                            </div>
                          </div>
                        </div>
                        <div class="row p-2">
                          <div class="  col-12">
                                                                    
                            <p class="question">What would that change look like? *</p>
                          </div>
                          <div class="col-12 col-md-6">
                            <div class="p-field">
                              <label for="vision_short">Within 5 years? *</label>
                              <textarea name="vision_short" placeholder="Short term vision" #vision_short="ngModel"
                                [(ngModel)]="assessment.vision_short" rows="1" cols="130" pInputText autoResize="autoResize" required
                                [disabled]="isSavedAssessment || (isEditMode && !isCompleted && isContinue)" [maxlength]="masterDataService.getFieldCharCount(fieldNames.VISION)"></textarea>
                                <span style="float: right;">Maximum characters {{masterDataService.getFieldCharCount(fieldNames.VISION)}}</span>
                                <p class="info-message text-danger" *ngIf="  !vision_short.value &&                     
                                (fData.submitted || vision_short.touched || vision_short.dirty)
                              ">
                                  This is a mandatory field
                                </p>
                            </div>
                          </div>
                         
                          <div class="col-12 col-md-6">
                            <div class="p-field">
                              <label for="vision_short">Between 5 and 15 years? *</label>
                              <textarea name="vision_medium" placeholder="Medium term vision" #vision_medium="ngModel" 
                                [(ngModel)]="assessment.vision_medium" rows="1" cols="130" pInputText autoResize="autoResize" required
                                [disabled]="isSavedAssessment || (isEditMode && !isCompleted && isContinue)" [maxlength]="masterDataService.getFieldCharCount(fieldNames.VISION)"></textarea>
                                <span style="float: right;">Maximum characters {{masterDataService.getFieldCharCount(fieldNames.VISION)}}</span>
                                <p class="info-message text-danger" *ngIf="  !vision_medium.value &&                     
                                (fData.submitted || vision_medium.touched || vision_medium.dirty)
                              ">
                                  This is a mandatory field
                                </p>
                            </div>
                          </div>
                          <div class="col-12 col-md-6">
                            <div class="p-field">
                              <label for="vision_short">After 15 years? *</label>
                              <textarea name="vision_long" placeholder="Long term vision" 
                                #vision_long="ngModel" [(ngModel)]="assessment.vision_long" rows="1" cols="130" pInputText
                                autoResize="autoResize" required [maxlength]="masterDataService.getFieldCharCount(fieldNames.VISION)" [disabled]="isSavedAssessment || (isEditMode && !isCompleted && isContinue)"></textarea>
                                <span style="float: right;">Maximum characters {{masterDataService.getFieldCharCount(fieldNames.VISION)}}</span>
                                <p class="info-message text-danger" *ngIf="  !vision_long.value &&                     
                                (fData.submitted || vision_long.touched || vision_long.dirty)
                              ">
                                  This is a mandatory field
                                </p>
                            </div>
                          </div>
                        </div>
                        <div class="row p-2">
                          <div class="  col-12">
                                                                    
                            <label>In which phase of transformation is the system currently at?* <i class="pi pi-info-circle" (mouseover)="opTransform.toggle($event)" (mouseout)="opTransform.toggle($event)" style="font-size: 1rem"></i></label>
                          </div>
                          <div class="col-12 col-md-6">
                            <div class="p-field">
                              <textarea name="phase_of_transformation" placeholder="Pre-development, Take-off, Acceleration, Stabilization / Relapse" #phase_of_transformation="ngModel" 
                                [(ngModel)]="assessment.phase_of_transformation" rows="2" cols="130" pInputText autoResize="autoResize" required
                                [disabled]="isSavedAssessment || (isEditMode && !isCompleted && isContinue)" [maxlength]="masterDataService.getFieldCharCount(fieldNames.VISION)"></textarea>
                                <label style="font-size: 12px;"><i>See <a [href]="chapter6_url" target="_blank">Chapter 6 </a>of the ICAT Transformational Change Methodology</i></label>
                                <span style="float: right;">Maximum characters {{masterDataService.getFieldCharCount(fieldNames.VISION)}}</span>
                                <p class="info-message text-danger" *ngIf="  !phase_of_transformation.value &&                     
                                (fData.submitted || phase_of_transformation.touched || phase_of_transformation.dirty)
                              ">
                                  This is a mandatory field
                                </p>
                            </div>
                          </div>
                        </div>
                        <div class="row p-2">
                          <div class="  col-12">
                                                                    
                            <label >How does the intervention seek to contribute to the change in the system to achieve the vision? *</label>
                          </div>
                          <div class="col-12 col-md-6">
                            <div class="p-field">
                              <textarea name="change_in_system" placeholder="Enter an answer" #change_in_system="ngModel" [disabled]="isSavedAssessment"
                                [(ngModel)]="assessment.change_in_system" rows="1" cols="130" pInputText autoResize="autoResize" required
                                [disabled]="isSavedAssessment || (isEditMode && !isCompleted && isContinue)" [maxlength]="masterDataService.getFieldCharCount(fieldNames.VISION)"></textarea>
                                <span style="float: right;">Maximum characters {{masterDataService.getFieldCharCount(fieldNames.VISION)}}</span>
                                <p class="info-message text-danger" *ngIf="  !change_in_system.value &&                     
                                (fData.submitted || change_in_system.touched || change_in_system.dirty)
                              ">This is a mandatory field
                            </p>
                            </div>
                          </div>
                        </div>
            
            
                      </div>
                    </div>

                      <div class=" mt-2">
                        <div class="p-grid p-fluid col-sm-12">
                          <div class="p-2">
                            <h6>Barriers &nbsp; <p-button  [hidden]="isSavedAssessment || (isEditMode && !isCompleted && isContinue)"  icon="pi pi-plus "  styleClass="p-button-sm p-button-rounded"  (click)="showDialog()"></p-button></h6>
                            <label><i>Add a barrier by clicking the “+” button. To add multiple barriers, click the “+” button again after saving your inputs.</i></label>
                          </div>
                          <p-dialog header="Add barriers" [(visible)]="barrierBox"  [modal]="true" appendTo="body"  [style]="{width: '50vw'}"  >

                            <div class="tooltip2-container">
                              <div>
                                <div class="tooltip2-icon">i</div>
                                <div class="tooltip2-text">
                                  <p-table [value]="tableData" [tableStyle]="{ 'min-width': '60rem' }">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Barrier</th>
                                            <th>Explanation</th>
                                            <th>Characteristics affected</th>
                                            <th>Is the barrier directly affected by the intervention?</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-tableData>
                                        <tr>
                                            <td>{{tableData.barrier}}</td>
                                            <td>{{tableData.explanation}}</td>
                                            <td>{{tableData.cha}}</td>
                                            <td>{{tableData.ans}}</td>
                                        </tr>
                                    </ng-template>
                                  </p-table>
                                </div>
            
                              </div>
                            </div>

                            <ng-template pTemplate="p-dialog-content">
                            <div class="row p-2">
                              <div class="col-12 col-md-6">
                                <div class="p-field">
                                  <label style="width:200px" for="impEntity">Barrier</label>
                                  <input type="text" placeholder="Please add barrier"  name="category"
                                  #cat="ngModel" [(ngModel)]="barrierSelected.barrier" [maxlength]="masterDataService.getFieldCharCount(fieldNames.BARRIER)" class="p-inputtext custom-input"
                                  pInputText />
                                  <span style="font-size: 1rem; float: right;">Maximum characters {{masterDataService.getFieldCharCount(fieldNames.BARRIER)}}</span>
                                </div>
                              </div>
              
                            </div>
              
                            <div class="row p-2">
                              <div class="col-12 col-md-6">
                                <div class="p-field">
                                  <label style="width:200px" for="impEntity">Explanation</label>
                                  <textarea  type="text" placeholder="Please add explanation" name="explanation" [maxlength]="masterDataService.getFieldCharCount(fieldNames.BARRIER_EXPLANATION)"
                                  #explanation="ngModel" [(ngModel)]="barrierSelected.explanation" [ngModelOptions]="{ standalone: false }"
                                  class="p-inputtext custom-textarea" rows="3" cols="20" pInputText autoResize="autoResize"
                                  ></textarea>
                                  <span style="font-size: 1rem; float: right;">Maximum characters {{masterDataService.getFieldCharCount(fieldNames.BARRIER_EXPLANATION)}}</span>
                                </div>
                              </div>
              
                            </div>
              
                            <div class="row p-2">
                              <div class="col-12 col-md-6">
                                <div class="p-field">
                                  <label style="width:200px"  for="impEntity">Characteristic affected</label>
                                  <ng-container *ngIf="isDownloadMode == 0; else elseBlockcharacteristics">
                                    <p-multiSelect  placeholder="Please select characteristics" name="characteristics"
                                      #characteristic="ngModel" [(ngModel)]="barrierSelected.characteristics" [options]="barrierChList" appendTo="body"
                                      optionLabel="name"  [required]="true"></p-multiSelect>
                                    <p class="info-message text-danger" *ngIf="  !finalSectors &&                     
                                    (fData.submitted || characteristic.touched || characteristic.dirty)
                                  ">
                                      This is a mandatory field
                                    </p>
                                  </ng-container>
                                  <ng-template #elseBlockcharacteristics>
                                    <ng-container *ngIf="isDownloadMode == 1 ">
                                      <p-multiSelect placeholder="Please select characteristics" name="characteristics"
                                        #characteristic="ngModel" [(ngModel)]="barrierSelected.characteristics" [options]="characteristicsList" appendTo="body"
                                        optionLabel="name"  [required]="true"></p-multiSelect>
                
                                    </ng-container>
                                    <ng-container *ngIf="isDownloadMode == 0">
                                      <input  type="text" maxlength="50" name="projsector"
                                      #projsector="ngModel" class="p-inputtext" [(ngModel)]="sectorsJoined"
                                      [ngModelOptions]="{ standalone: true }" pattern="^[a-zA-Z0-9 ]{1,64}$" pInputText />
                                    </ng-container>
                
                                  </ng-template>
                                </div>
                              </div>
              
                            </div>
              
              
              
                            <div class="row p-2">
                              <div class="col-12 col-md-6">
                                <div class="p-field">
                                  <p-checkbox  [binary]="true" [(ngModel)]="barrierSelected.affectedbyIntervention"  name="affectedbyIntervention" inputId="binary"></p-checkbox> &nbsp; &nbsp;
                                  <label for="ny">Is the barrier directly affected by the intervention?</label>
              
                                </div>
                              </div>
              
                            </div>
              
                          </ng-template>
              
                            <ng-template pTemplate="footer">
                              <p-button
                              (click)="barrierBox=false; pushBarriers(barrierSelected)"
              
                                  label="Save"
              
                              ></p-button>
                          </ng-template>
              
              
              
              
                        </p-dialog>
                        <div class="row p-2" >
                          <div class="col-12 col-md-2">
                            <div class="p-field">
                              <label class ="barrier-top" for="relatedPolicies">Barrier </label>
                            </div>
                          </div>
                          <div class="col-12 col-md-3">
                            <div class="p-field">
                              <label class ="barrier-top" for="relatedPolicies">Explanation </label>
                            </div>
                          </div>
                          <div class="col-12 col-md-3">
                            <div class="p-field">
                              <label class ="barrier-top" for="relatedPolicies">Characteristic affected </label>
                            </div>
                          </div>
                          <div class="col-12 col-md-4">
                            <div class="p-field">
                              <label class ="barrier-top" for="relatedPolicies">Is the barrier directly affected by the intervention?</label>
                            </div>
                          </div>
              
                        </div>
                        <div *ngIf="finalBarrierList.length !==0" >
                          <div class="row p-2" *ngFor="let barriers of finalBarrierList">
              
                            <div class="col-12 col-md-2">
                              <div class="p-field">
                               <div></div>
                               <div>{{barriers.barrier}}</div>
                              </div>
                            </div>
                            <div class="col-12 col-md-3">
                              <div class="p-field">
                                <div>{{barriers.explanation}}</div>
                              </div>
                            </div>
                            <div class="col-12 col-md-3">
                              <div class="p-field">
                                <div>{{barriersNameArray(barriers.characteristics)}}</div>
                              </div>
                            </div>
                            <div class="col-12 col-md-4">
                              <div class="p-field">
                                <div>{{barriers.affectedbyIntervention==true?'Yes':'No'}} </div>
              
                              </div>
                            </div>
              
                          </div>
              
                        </div>
              
                        <div  >
                          <div class="row p-2" *ngFor="let barriers of barrierArray">
              
                            <div class="col-12 col-md-2">
                              <div class="p-field">
                               <div></div>
                               <div>{{barriers.barrier}}</div>
                              </div>
                            </div>
                            <div class="col-12 col-md-3">
                              <div class="p-field">
                                <div>{{barriers.explanation}}</div>
                              </div>
                            </div>
                            <div class="col-12 col-md-3">
                              <div class="p-field">
                                <div>{{barriersNameArray(barriers['characteristics'])}}</div>
                              </div>
                            </div>
                            <div class="col-12 col-md-4">
                              <div class="p-field">
                                <div>{{barriers.is_affected==true?'Yes':'No'}} </div>
              
                              </div>
                            </div>
              
                          </div>
              
                        </div>
              
              
                        </div>
                      </div>
                </div>
            </div>
            <div class="row justify-content-end" *ngIf="!isSavedAssessment || (isEditMode && isCompleted && isContinue)">
                <div class="row p-grid p-fluid col-md-6 col-sm-6">
                    <div class="d-flex col-4 justify-content-end p-button-vertical mb-0 pl-2" *ngIf="!isSavedAssessment && !isEditMode">
                        <button class="btn btn-outline-primary" type="button" (click)="saveDraft()">
                            Save as Draft
                        </button>
                    </div>
                    <div class="d-flex col-4 justify-content-end p-button-vertical mb-0 pl-2">
                        <button class="btn btn-primary" type="submit">
                            {{isCompleted ? 'Update' : (!isContinue ? 'Update' : 'Submit')}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="p-grid p-fluid col-sm-12" *ngIf="showSections">
        <app-cm-section [assessment]="assessmentres" [approach]="assessment.assessment_approach" [isEditMode]="isEditMode" [expectedGhgMitigation]="expected_ghg_mitigation" [isCompleted]="isCompleted"></app-cm-section>
    </div>
</div>

<p-dialog [(visible)]="visible_ex_ante" [closable]="false">
    <p-header class="caution">
        <i class="pi pi-exclamation-triangle" style="font-size: 2rem; margin-left: 171px; margin-top: -12px;"></i>
    </p-header>
    <div style="text-align: center;">
        <br>
        <h4>Caution!</h4>
        <p>Ex-ante assessments can serve as a preliminary indicator of the potential contribution to transformational
            change of an intervention. However, all indicators given in an ex-ante assessment must later be verified
            through an ex-post assessment to confirm the intervention’s true contribution.</p>
        <button style="background-color: #224373;" class="btn btn-primary" type="submit"
            (click)="okay()">
            Okay
        </button>
    </div>
</p-dialog>

<p-overlayPanel #op [style]="{'width': '600px'}">
  <div class="p-grid p-fluid col-md-12 col-sm-12 text-title">
    <p><b>Example for a Solar PV Policy:</b></p>
    <div class="row p-2" *ngFor="let item of visionExample">
      <div class="col-3">{{item.title}} : </div>
      <div class="col-9">{{item.value}}</div>
      <br>
    </div>
  </div>
</p-overlayPanel>

<p-overlayPanel #opTransform [style]="{'width': '600px'}">
  <div class="p-grid p-fluid col-md-12 col-sm-12 text-title">
    <p><b>The phase of transformation refers to the economic, social, institutional and political context in which the intervention is being planned or implemented. This contextual understanding is important, to enable 
      users to choose and assess process and outcome characteristics in subsequent steps. A system undergoing transformation can be described as being in any of the following four phases</b>
      </p>
    <div class="row p-2" *ngFor="let item of phaseTransformExapmle">
      <div class="col-12"><strong>{{item.title}} </strong></div>
      <div class="col-12">{{item.value}}</div>
      <br>
    </div>
  </div>
</p-overlayPanel>      

<p-overlayPanel #opAssessment [style]="{'width': '800px'}">
  <div class="p-grid p-fluid col-md-12 col-sm-12 text-title">
    <img src="../../../assets/images/assessment/assessment_flow.png" alt="Assessment Flow"  width="780px" >
  </div>
</p-overlayPanel>

<p-dialog [(visible)]="autoSaveDialog" [closable]="false" >
  <p-header  class="caution" >
  </p-header>
  <div style="text-align: center;">
      <br>
      <label [class]="'caution-dialog'">Please note that your inputs will be automatically saved upon entering the data.</label>
      <br>
      <button style="background-color: #224373;" class="btn btn-primary" type="submit" (click)="okayAutosave()">
          OKAY
      </button>
  </div>
</p-dialog>