<div class="p-grid p-fluid card m-3">
    <div class="p-field p-2">
    </div>
  
    <div class="row">
      <div class="col-3 ">
        <h6>Select portfolio : </h6>
      </div>
  
      <div class="col-4 ">
        <p-dropdown appendTo="body" name="portfolio" placeholder="Select portfolio" [(ngModel)]="selectedPortfolio"
          appendTo="body" [options]="portfolioList" optionLabel="portfolioName"
          (onChange)="selectPortfolio()"></p-dropdown>
      </div>
  
  
      <div class="col-1">
        <button class="btn btn-primary" type="button" (click)="goToFunction()" title="Clear selected portfolio">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  
  
      <div class="col-4 ">
      </div>
    </div>
  </div>
<div class="p-grid p-fluid card m-3">
    <div class="row">
        <h3>Recent assessments done</h3>

        <div class="row mt-20 ml-10">
            <div class="col-3 ">
              <h5>Select assessments </h5>
            </div>
            <div class="col-6 ">
                <p-multiSelect name="assess" [options]="allAssessments" [(ngModel)]="selectedAssessments" appendTo="body"
                (onChange)="onSelectAssessment()" (onClear) ="onClear()" [showClear]="true" defaultLabel="Select assessment" [selectionLimit]="selectionLimit"
                optionLabel="label"></p-multiSelect>
              </div>
            
            
          </div>

        <div class="col-12 mt-20 ml-10" [hidden]="calResults?.length == 0">
            <p-table [value]="tableData" [paginator]="true" [rows]="rows" [totalRecords]="totalRecords" [lazy]="true"
                (onLazyLoad)="loadgridData($event)" [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '5rem' }" paginatorDropdownAppendTo="body"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[ 5, 10, 25,50]" [loading]="loading" [responsive]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="table-header-3">Intervention name</th>
                        <th class="table-header">Tool</th>
                        <th class="table-header-3">Assessment period</th>
                        <th class="table-header" style="line-height: 130%;">Likelihood of transformation</th>
                        <th class="table-header" style="line-height: 130%;">Outcome score</th>
                        
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tableData>
                    <tr (click)="goToResult(tableData.id, tableData.tool)">
                        <td>{{ tableData.climateAction?.policyName }}</td>
                        <td>{{ masterDataService.getToolName(tableData.tool) }}</td>
                        <td>{{ tableData.from| date: 'dd/MM/yyyy'}} - {{tableData.to| date: 'dd/MM/yyyy'}}</td>
                            <td>{{ mapProcessScores(tableData.result.averageProcess) }}</td>
                            <td>{{ mapOutcomeScores(tableData.result.averageOutcome) }}</td>
                    </tr>
                </ng-template>

            </p-table>
        </div>
        <div class="col-12" [hidden]="calResults?.length != 0">
            <p-messages severity="warn">
                <ng-template pTemplate>
                    <i class="pi pi-info-circle mr-20" style="font-size: 2rem"></i>
                    <div class="ml-2">No data to show.</div>
                </ng-template>
            </p-messages>
        </div>
    </div>
</div>

<div class="p-grid p-fluid card mt-20 m-3">
    <div class="row text-center">
        <h3>Transformational change of interventions</h3>
        <app-heat-map  id="heatmap" [xData]="xData" [yData]="yData" [score]="heatMapScore" [showOp]="true" [tableData]="heatMapData" [preciseDotPosition]="true"></app-heat-map>
       
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-12 d-flex align-items-stretch">
        <div #sourceDiv class="p-grid p-fluid card m-3">
            <div  class="row text-center">
                <h3>SDGs impacted by the assessed interventions</h3>
                <div [hidden]="sdgDetailsList.length == 0" class="col-12 mt-20" >
                    <canvas height="450" #portfolioSDGsPieChart>{{ portfolioSDGsPieChart }}</canvas>
                </div>
            </div>
            <div *ngIf="sdgDetailsList.length == 0" class="col-12" >
                <p-messages severity="warn">
                    <ng-template pTemplate>
                        <i class="pi pi-info-circle mr-20" style="font-size: 2rem"></i>
                        <div class="ml-2">No data to show.</div>
                    </ng-template>
                </p-messages>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-12 d-flex align-items-stretch">
        <div #targetDiv class="p-grid p-fluid card m-3">
            <div class="row text-center">
                <h3>Sectors represented</h3>
                <div *ngIf="sectorCount" class="col-12 mt-20" [hidden]="sectorCount.length == 0">
                    <canvas  height="450" #investmentSectorCountPieChart>{{ pieChart2 }}</canvas>
                </div>
            </div>
            <div *ngIf="sectorCount" class="col-12" [hidden]="sectorCount.length != 0">
                <p-messages severity="warn">
                    <ng-template pTemplate>
                        <i class="pi pi-info-circle mr-20" style="font-size: 2rem"></i>
                        <div class="ml-2">No data to show.</div>
                    </ng-template>
                </p-messages>
            </div>
        </div>
    </div>
</div>

<p-overlayPanel [hidden]="pointTableDatas.length==0" #op>
    <ng-template pTemplate="content">
        <div *ngFor="let pointTableData of pointTableDatas" style=" border-style: solid;" class="m-3 p-1">

            <div class="row">
                <div class="col-4">Intervation ID :</div>
                <div class="col-8">{{pointTableData.climateAction.intervention_id}}</div>

            </div>
            <div class="row">
                <div class="col-4">Intervation Name :</div>
                <div class="col-8">{{pointTableData.climateAction.policyName}}</div>
            </div>
            <div class="row">
                <div class="col-4">Process score :</div>
                <div class="col-8">{{pointTableData.process_score}}</div>
            </div>
            <div class="row">
                <div class="col-4">outcome score :</div>
                <div class="col-8">{{pointTableData.outcome_score}}</div>
            </div>
        </div>

    </ng-template>
</p-overlayPanel>