


<div class="row">
  <div  class="col-md-7 col-sm-7 col-12">
      <div class="p-grid p-fluid card m-3" style="height: 95.5%;">
          <div class="row text-center ">
              <h3>Recent assessments done</h3>
              <ng-container *ngIf="tableData.length==0; else elseBlock3">
                <div  class="col-12 " >
                  <p-messages severity="warn" >
                    <ng-template pTemplate>
                        <i class="pi pi-info-circle mr-20" style="font-size: 2rem"></i>
                        <div class="ml-2">No data to show.</div>
                    </ng-template>
                </p-messages>

                 </div>
              </ng-container>
              <ng-template #elseBlock3 >
                <div  class="col-12  mt-20 ml-10" >
                  <div class="row">
                    <label class="col-3">Select assessments</label>
                    <p-multiSelect placeholder="Select assessments" name="interventions" class="col"
                      #sector="ngModel" [(ngModel)]="selected_interventions" [options]="interventions_to_filter" appendTo="body"
                      optionLabel="intervention" optionValue="intervention_id" (ngModelChange)="loadgridData($event)" [selectionLimit]="10"></p-multiSelect>
                  </div>
                  <br>

                  <p-table
                  #mainTable
                  [value]="tableData"
                  [paginator]="true"
                  [rows]="rows"
                  [totalRecords]="totalRecords"
                  [lazy]="true"
                  (onLazyLoad)="loadgridData($event)"
                  [showCurrentPageReport]="true"
                  [tableStyle]="{ 'min-width': '5rem' }"
                  paginatorDropdownAppendTo="body"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                  [rowsPerPageOptions]="[ 5, 10, 20]"
                  [loading]="loading"
                  [responsive]="true"
              >
                  <ng-template pTemplate="header">
                      <tr>
                          <th style="width:30%">Intervention name</th>
                          <th style="width:30%">Assessment period</th>
                          <th style="width:20%" style="line-height: 130%;">Likelihood of transformation</th>
                          <th style="width:20%" style="line-height: 130%;">Outcome score</th>

                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-tableData>
                      <tr (click)="goToResult(tableData.assessment_id)">
                          <td>{{ tableData?.intervention }}</td>
                          <td>{{tableData?.assessment_period}}</td>
                          <td>{{ mapProcessScores(tableData.process_score) }}</td>
                          <td>{{ mapOutcomeScores(tableData.outcome_score) }}</td>
                      </tr>
                  </ng-template>
              </p-table>
                 </div>
              </ng-template>

          </div>
      </div>
  </div>
  <div  class="col-md-5 col-sm-5 col-12 d-flex align-items-stretch">

    <div  class="p-grid p-fluid card m-3 ">
      <div class="row text-center ">
          <h3>Meeting environmental integrity criteria</h3>
          <div *ngIf="CMPrerequiste" [hidden]="CMPrerequiste[0].count==0 && CMPrerequiste[1].count==0" class="col-12  mt-20 ml-10 "  >
              <canvas id="pieChartCM" >{{pieChartCM}}</canvas>
          </div>
          <div  *ngIf="CMPrerequiste" class="col-12 " [hidden]="CMPrerequiste[0].count!=0 || CMPrerequiste[1].count!=0">
            <p-messages severity="warn" >
              <ng-template pTemplate>
                  <i class="pi pi-info-circle mr-20" style="font-size: 2rem"></i>
                  <div class="ml-2">No data to show.</div>
              </ng-template>
          </p-messages>

           </div>
      </div>
  </div>
  </div>

</div>
<div class="row">
  <div class=" col-12">
      <div class="p-grid p-fluid card m-3">
          <div class="row text-center ">
              <h3>Transformational change of interventions</h3>
              <ng-container *ngIf="tableData.length==0; else elseBlock4">
                <div  class="col-12 " >
                  <p-messages severity="warn" >
                    <ng-template pTemplate>
                        <i class="pi pi-info-circle mr-20" style="font-size: 2rem"></i>
                        <div class="ml-2">No data to show.</div>
                    </ng-template>
                </p-messages>

                 </div>
              </ng-container>
              <ng-template #elseBlock4>
                <div  class="col-12  mt-20 ml-10" >
                  <ng-container *ngIf="tableData.length==0; else elseBlock4">
                    <div  class="col-12 " >
                      <p-messages severity="warn" >
                        <ng-template pTemplate>
                            <i class="pi pi-info-circle mr-20" style="font-size: 2rem"></i>
                            <div class="ml-2">No data to show.</div>
                        </ng-template>
                    </p-messages>
                     </div>
                  </ng-container>
                  <ng-template #elseBlock4>
                    <app-heat-map  id="heatmap" [xData]="xData" [yData]="yData" [score]="heatMapScore" [showOp]="true" [tableData]="heatMapData" [preciseDotPosition]="true"></app-heat-map>
                  </ng-template>

                 </div>
              </ng-template>

          </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-6 col-12 d-flex align-items-stretch">
    <div #sourceDiv class="p-grid p-fluid card m-3 " >
      <div  class="row text-center">
        <h3>SDGs impacted by the assessed interventions</h3>
        <div class="mt-20 ml-10 " *ngIf="sdgDetailsList.length != 0">
          <canvas  height="450" #cmSDGsPieChart></canvas>
        </div>
      </div>
      <div
        *ngIf="sdgDetailsList.length == 0"
        class="col-12"
        
      >
        <p-messages severity="warn">
          <ng-template pTemplate>
            <i class="pi pi-info-circle mr-20" style="font-size: 2rem"></i>
            <div class="ml-2">No data to show.</div>
          </ng-template>
        </p-messages>
      </div>
    </div>
  </div>
  <div  class="col-md-6 col-sm-6 col-12 d-flex align-items-stretch" >
    <div #targetDiv class="p-grid p-fluid card m-3">
      <div class="row text-center">
        <h3>Sectors represented</h3>
        <div
          *ngIf="sectorCount.length != 0"
          class="col-12 mt-20"
        
        >
          <canvas height="450" #cmSectorCountPieChart>{{ cmPieChartSectorCount }}</canvas>
        </div>
      </div>
      <div
        *ngIf="sectorCount.length == 0"
        class="col-12"
        
      >
        <p-messages severity="warn">
          <ng-template pTemplate>
            <i class="pi pi-info-circle mr-20" style="font-size: 2rem"></i>
            <div class="ml-2">No data to show.</div>
          </ng-template>
        </p-messages>
      </div>
    </div>
  </div>
</div>